<h1>Edit task</h1>
<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
    <%= form.submit "Créer Tâche" %>
  </div>
<% end %>
