<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<%= link_to "Retour à la liste", tasks_path %>

<%= link_to "Éditer tache", edit_task_path %>

<%= link_to "Delete",
  delete_task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
